# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (в репозитории в папке data есть текстовик с ссылкой, выгрузите в эту же папку весь архив, чтобы код работал). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1NPMIal9jOQzBhy3KEc05rqUUMm228im3z5L2KZ-Jv_4/edit?usp=sharing).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [44]:
df = pd.read_csv('../../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [45]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [46]:
df.info()
df.describe()
# df['User_Score'] = df.User_Score.astype('float64')
# df['Year_of_Release'] = df.Year_of_Release.astype('int64')
# df['User_Count'] = df.User_Count.astype('int64')
# df['Critic_Count'] = df.Critic_Count.astype('int64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [47]:
# Ваш код здесь    
gender1_avg_height = df[df['gender'] == 1]["height"].mean()
gender2_avg_height = df[df['gender'] == 2]["height"].mean()

print("gender1_avg_height =", gender1_avg_height)
print("gender2_avg_height =", gender2_avg_height)

gender_map = dict()
if gender1_avg_height > gender2_avg_height:
    gender_map[1] = "M"
    gender_map[2] = "W"
else:
    gender_map[1] = "W"
    gender_map[2] = "M"

print(gender_map)
    
df["gender"] = df["gender"].map(gender_map).astype('str')
df.head()

gender1_avg_height = 161.35561168460356
gender2_avg_height = 169.94789538210054
{1: 'W', 2: 'M'}

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,M,168,62.0,110,80,1,1,0,0,1,0
1,20228,W,156,85.0,140,90,3,1,0,0,1,1
2,18857,W,165,64.0,130,70,3,1,0,0,0,1
3,17623,M,169,82.0,150,100,1,1,0,0,1,1
4,17474,W,156,56.0,100,60,1,1,0,0,0,0

In [48]:
temp = df["gender"].value_counts()
man_amount = temp["M"]
woman_amount = temp["W"]
print("man_amount =", man_amount)
print("woman_amount =", woman_amount)

man_amount = 24470
woman_amount = 45530

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [49]:
# Ваш код здесь
alco_man_amount = df[(df['gender']=="M") & (df['alco'] == 1)].shape[0]
alco_woman_amount = df[(df['gender']=="W") & (df['alco'] == 1)].shape[0]
print("alco_man_amount =", alco_man_amount)
print("alco_woman_amount =", alco_woman_amount)

alco_man_amount = 2603
alco_woman_amount = 1161

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [50]:
# Ваш код здесь
smoke_man_amount = df[(df['gender']=="M") & (df['smoke'] == 1)].shape[0]
smoke_woman_amount = df[(df['gender']=="W") & (df['smoke'] == 1)].shape[0]
print("smoke_man_amount =", smoke_man_amount)
print("smoke_woman_amount =", smoke_woman_amount)

smoke_man_percent = smoke_man_amount / man_amount
smoke_woman_percent = smoke_woman_amount / woman_amount
print("smoke_man_percent =", smoke_man_percent)
print("smoke_woman_percent =", smoke_woman_percent)

print("answer =", round(smoke_man_percent / smoke_woman_percent))

smoke_man_amount = 5356
smoke_woman_amount = 813
smoke_man_percent = 0.21888026154474868
smoke_woman_percent = 0.017856358444981332
answer = 12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [82]:
# import matplotlib.pyplot as plt
# # будем отображать графики прямо в jupyter'e
# %matplotlib inline 
# #графики в svg выглядят более четкими
# %config InlineBackend.figure_format = 'svg' 

# #увеличим дефолтный размер графиков
# from pylab import rcParams
# rcParams['figure.figsize'] = 8, 5

# # temp = df["age"] / 365
# # plt.hist(temp)

# import seaborn as sns
# %config InlineBackend.figure_format = 'png' 
# sns.distplot(df["age"]);

In [86]:
# Ваш код здесь
days_per_year = 365
smoke_avg_age = (df[df['smoke'] == 1]["age"] / days_per_year).mean()
nonsmoke_avg_age = (df[df['smoke'] == 0]["age"] / days_per_year).mean()
print("smoke_avg_age =", smoke_avg_age)
print("nonsmoke_avg_age =", nonsmoke_avg_age)
print("answer =", round(abs(smoke_avg_age - nonsmoke_avg_age) * 12))

smoke_avg_age = 52.30366281251594
nonsmoke_avg_age = 53.43945405493948
answer = 14

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [90]:
# Ваш код здесь
df["age_years"] = df["age"] / days_per_year

In [96]:
smoke_man_60_64 = df[(df["gender"] == "M") & (df["smoke"] == 1) & (df["age_years"] >= 60) & (df["age_years"] <= 64)]
smoke_man_60_64.head()
ap_hi_120_cholesterol_4 = smoke_man_60_64[(smoke_man_60_64["ap_hi"] < 120) & (smoke_man_60_64["cholesterol"] == 1)].shape[0]
ap_hi_160_180_cholesterol_8 = smoke_man_60_64[(smoke_man_60_64["ap_hi"] >= 160) & (smoke_man_60_64["ap_hi"] < 180) & (smoke_man_60_64["cholesterol"] == 3)].shape[0]
print("ap_hi_120_cholesterol_4 =", ap_hi_120_cholesterol_4)
print("ap_hi_160_180_cholesterol_8 =", ap_hi_160_180_cholesterol_8)
print("answer =", round(ap_hi_120_cholesterol_4 / ap_hi_160_180_cholesterol_8))

ap_hi_120_cholesterol_4 = 47
ap_hi_160_180_cholesterol_8 = 15
answer = 3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [100]:
# Ваш код здесь
df["BMI"] = df["weight"] / ((df["height"] / 100) ** 2)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,M,168,62.0,110,80,1,1,0,0,1,0,50.391781,21.967120
1,20228,W,156,85.0,140,90,3,1,0,0,1,1,55.419178,34.927679
2,18857,W,165,64.0,130,70,3,1,0,0,0,1,51.663014,23.507805
3,17623,M,169,82.0,150,100,1,1,0,0,1,1,48.282192,28.710479
4,17474,W,156,56.0,100,60,1,1,0,0,0,0,47.873973,23.011177

In [103]:
mean_BMI = df["BMI"].mean()
print("mean_BMI =", mean_BMI)
avg_man_BMI = df[df["gender"] == "M"]["BMI"].mean()
avg_woman_BMI = df[df["gender"] == "W"]["BMI"].mean()
print("avg_man_BMI =", avg_man_BMI)
print("avg_woman_BMI =", avg_woman_BMI)

mean_BMI = 27.55651255127882
avg_man_BMI = 26.754442357289474
avg_woman_BMI = 27.98758344183312

In [108]:
healthy_ppl = df[(df["cholesterol"] == 1) & (df["gluc"] == 1)]
unhealthy_ppl = df[(df["cholesterol"] == 2) | (df["cholesterol"] == 3) | (df["gluc"] == 2) | (df["gluc"] == 3)]

In [111]:
avg_healthy_ppl_BMI = healthy_ppl["BMI"].mean()
avg_unhealthy_ppl_BMI = unhealthy_ppl["BMI"].mean()
print("avg_healthy_ppl_BMI =", avg_healthy_ppl_BMI)
print("avg_unhealthy_ppl_BMI =", avg_unhealthy_ppl_BMI)

avg_healthy_ppl_BMI = 26.932964575966395
avg_unhealthy_ppl_BMI = 28.979493002067468

In [107]:
avg_healthy_nonalco_man_BMI = healthy_ppl[(healthy_ppl["gender"] == "M") & (healthy_ppl["alco"] == 0)]["BMI"].mean()
avg_healthy_nonalco_woman_BMI = healthy_ppl[(healthy_ppl["gender"] == "W") & (healthy_ppl["alco"] == 0)]["BMI"].mean()
print("avg_healthy_nonalco_man_BMI =", avg_healthy_nonalco_man_BMI)
print("avg_healthy_nonalco_woman_BMI =", avg_healthy_nonalco_woman_BMI)

avg_healthy_nonalco_man_BMI = 26.273579577225586
avg_healthy_nonalco_woman_BMI = 27.275279952926454

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [119]:
# Ваш код здесь
cleared_df = df
# cleared_df = df.drop(cleared_df["ap_lo"] > cleared_df["ap_hi"]).head()
drop_indecies = cleared_df[cleared_df["ap_lo"] > cleared_df["ap_hi"]].index
cleared_df = cleared_df.drop(drop_indecies)
cleared_df.shape

(68766, 14)

In [126]:
height_quantile_025 = cleared_df["height"].quantile(0.025)
height_quantile_975 = cleared_df["height"].quantile(0.975)
drop_indecies = cleared_df[(cleared_df["height"] < height_quantile_025) | (cleared_df["height"] > height_quantile_975)].index
cleared_df = cleared_df.drop(drop_indecies)
cleared_df.shape

Int64Index([   23,    81,    87,   105,   127,   138,   184,   223,   250,
              257,
            ...
            99678, 99785, 99799, 99820, 99862, 99901, 99909, 99963, 99972,
            99996],
           dtype='int64', name='id', length=2907)

(65859, 14)

In [ ]:
height_quantile_025 = cleared_df["weight"].quantile(0.025)
height_quantile_975 = cleared_df["weight"].quantile(0.975)
drop_indecies = cleared_df[(cleared_df["weight"] < height_quantile_025) | (cleared_df["weight"] > height_quantile_975)].index
cleared_df = cleared_df.drop(drop_indecies)
cleared_df.shape

In [123]:
s = pd.Series([1, 2, 3, 4])
print(s)
print(s.quantile(.5))
print(s.quantile(.25))
print(s.quantile(.75))
print(s.quantile([.25, .5, .75]))

0    1
1    2
2    3
3    4
dtype: int64
2.5
1.75
3.25
0.25    1.75
0.50    2.50
0.75    3.25
dtype: float64